html{
    overflow: hidden;
}

.mainBody{
    /* background-color: rgb(25,25,25); */
    background: url('logo.jpg') no-repeat;
    background-color: black;
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    background-position: center 150px;
}

.aboutBody{
    background-color: black;
    background-position: left 50px;
    background-size: 200px;
}

.loadingBody{
    background-color: black;
    margin: 0;
    padding: 0;
}

.SimpleXWebkit-Body{
    background-color: black;
}

.SimpleXWebkit-Title, .SimpleXWebkit-SubTitle, .MobilePhone{
    color: white;
    font-family: sans-serif;
}

.SimpleXWebkit-Title{
    font-size: 40px;
}

#S{
    color: white;
}

input{
    -webkit-appearance: none;
    background-color: black;
}

div.About-InfoSection{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-style: solid;    
}

div.SimpleXTeam-Section{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    /* border-style: thin;
    border-color: white; */

}

div.loadingWindow{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: rgb(0, 0, 0);
    box-sizing: border-box;
    /* box-shadow: 0 20px 60px rgba(0, 0, 0, 0.5); */
    box-shadow: 0px 0px 20px rgb(17, 218, 233);
    border-radius: 10px
}

img.SimpleXTeam-Logo{
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block; 
}

.SimpleXTeam-Title{
    /* text-align: center; */
    font-size: 45px;
}

.loadingProgressInfo{
    font-family: sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
}

.ProgressBar{
    background: rgba(212, 203, 203, 0.938);
    border-color: rgb(34, 32, 32);
    border-style: solid;
    box-sizing: border-box;
    width: 100%;
    height: 25px;
    color: aqua;
}

progress::-webkit-progress-bar {  
	background-color: rgb(0, 0, 0);
}  
progress::-webkit-progress-value {  
    background-color:aqua;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .5) inset;
}  

progress::-moz-progress-bar {  
	background-color: aqua;
}

.loadWebsiteServer{
    color: aqua;
    width: 100%;
    font-size: 35px;
    background-color: rgb(53, 51, 51);
    display: none;
}

.deviceBody{
    background: url('logo.jpg') no-repeat;
    background-color: black;
    background-position: left 50px;
    background-size: 200px;

}


h2.animated.fadeIn{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:50px;
    border-style: solid;
    width: 400px;
    animation-delay: 0.5s;
}

h2.deviceTitleBox{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

div.device-infobox{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    width: 400px;
    padding: 20px;
    background-color: rgb(27, 27, 27);
    margin-top: 50px;
}


.load, .super{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* position: absolute; */
    bottom: 1px;
    padding: 150px;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.type{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111; 
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

/* Code for mobile devices with css */
/* SimpleXBelief56 */

@media screen and (max-device-width: 480px) and (orientation: portrait){
    /* .WebkitProgress{
        background: rgba(37, 36, 36, 0.938);
        border-color: black;
        border-style: solid;
        box-sizing: border-box;
        width: 50%;
    } */

    progress[value]{
        appearance: none;
        -webkit-appearance: none;
        color: aqua;
    }

    .SimpleXWebkit-Body{
        zoom: 3;
    }

    .SimpleXWebkit-SubTitle, .MobilePhone{
        font-size: 35px;
    }

    #S{
        font-family: sans-serif;

    }

    input{
        -webkit-appearance: none;
        color: white;
        background-color: rgb(42, 38, 38);
        border-style: solid;
        border-radius: 1px;
        zoom: 2; 
    }

    div.loadingWindow{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        background: rgb(0, 0, 0);
        box-sizing: border-box;
        /* box-shadow: 0 20px 60px rgba(0, 0, 0, 0.5); */
        box-shadow: 0px 0px 20px aqua;
        border-radius: 10px;
        zoom: 3;
    }

    .loadingTitle{
        font-size: 90px;
    }

    .loadingProgressInfo{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        letter-spacing: 1px;
    }
    
    .ProgressBar{
        background: rgba(37, 36, 36, 0.938);
        border-color: black;
        border-style: solid;
        box-sizing: border-box;
        width: 100%;
    }

    .loadWebsiteServer{
        color: aqua;
        width: 100%;
        font-size: 60px;
        background-color: rgb(53, 51, 51);
        display: none;
    }

    progress::-webkit-progress-value {
        background: aqua;
        float: left;
        border-radius: 3px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, .5) inset;
    }

    .mainBody{
        /* background-color: rgb(25,25,25); */
        background: url('logo.jpg') no-repeat;
        background-color: black;
        /* -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; */
        background-position: center 230px;
        background-size: 700px;
    }

    .type{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
    }

    h2.animated.fadeIn{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size:70px;
        border-style: solid;
        width: 550px;
        animation-delay: 0.5s;
    }

    h2.deviceTitleBox{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 50px; 
    }

    .nav-bar{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 23px;
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
    .SimpleXWebkit-Body{
        zoom: 3;
    }

    .SimpleXWebkit-SubTitle, .MobilePhone{
        font-size: 35px;
    }

    #S{
        font-family: sans-serif;

    }

    input{
        -webkit-appearance: none;
        color: white;
        background-color: rgb(42, 38, 38);
        border-style: solid;
        border-radius: 1px;
        zoom: 2; 
    }

    div.loadingWindow{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        zoom: 3;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        background: rgb(40, 40, 43);
        box-sizing: border-box;
        /* box-shadow: 0 20px 60px rgba(0, 0, 0, 0.5); */
        box-shadow: 0px 0px 20px gray;
        border-radius: 10px;
    }

    .loadingProgressInfo{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        letter-spacing: 1px;
    }
    
    .ProgressBar{
        background: rgba(37, 36, 36, 0.938);
        border-color: black;
        border-style: solid;
        box-sizing: border-box;
        width: 100%;
    }

    .WebkitProgress{
        -webkit-appearance: none;
        background: rgba(37, 36, 36, 0.938);
        border-color: black;
        border-style: solid;
        box-sizing: border-box;
        width: 100%;
    }


}



